body,
footer {
  font-family: "Poppins", sans-serif;
}

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px;
  margin: -1%;
}

.hero-text {
  text-align: center;
  color: white;
}

h5 {
  font-size: 40px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 5px;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 144px;
  letter-spacing: 0em;
  margin: -20px;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  margin-bottom: 50px;
}

.primary-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  background-color: white;
  padding: 18px 28px;
  color: black;
}
